@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/material-icons.woff2) format("woff2")
}

.material-icons {
    word-wrap: normal;
    -moz-font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    display: inline-block;
    font-family: Material Icons;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/roboto.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

:root {
    --text: #fff;
    --primary: #bb86fc;
    --accent: #222;
    --background: #121212
}

* {
    scrollbar-width: none
}

::-webkit-scrollbar {
    display: none
}

body {
    background-color: #121212;
    background-color: var(--background);
    color: #fff;
    color: var(--text);
    font-family: Roboto,sans-serif;
    height: 450px;
    transition: width .5s,height .5s;
    width: 250px
}

body,input,p {
    -ms-overflow-style: none;
    margin: 0;
    scrollbar-width: none
}

.ui {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100vh
}

.ui>.sidebar {
    grid-gap: 5px;
    background-color: #222;
    background-color: var(--accent);
    display: grid;
    grid-template-rows: 40px 40px 40px 1fr 40px;
    padding: 5px
}

.ui>.sidebar>.button {
    font-size: 200%;
    line-height: 40px
}

.ui>.sidebar>.button>img {
    margin: 7.5px
}

.ui>.sidebar>.button.active,.ui>.sidebar>.button:hover {
    color: #222;
    color: var(--accent)
}

.ui>.page {
    overflow-x: hidden
}

.ui>.page>div.game {
    overflow-y: hidden
}

.ui>.page>div:not(.game) {
    padding: 5px
}

.ui>.page>div>.info {
    color: gray;
    text-align: center
}

.ui>.page>div>.info>a {
    color: gray;
    text-decoration: none
}

.ui>.page>div>.info>a:hover {
    color: #bb86fc;
    color: var(--primary)
}

.ui>.page>.home {
    grid-gap: 5px;
    display: grid;
    grid-template-areas: "slideshow slideshow" "play play" "stats settings";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px 150px 90px
}

.ui>.page>.home>.slideshow {
    border-radius: 5px;
    cursor: pointer
}

.ui>.page>.home>.slideshow>img {
    border-radius: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    height: 188px;
    left: 56px;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 188px
}

.ui>.page>.home>.slideshow .opaque {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1
}

.ui>.page>.home>.play {
    line-height: 150px
}

.ui>.page>.home>.profile,.ui>.page>.home>.settings {
    line-height: 90px
}

.ui>.page>.home>div {
    font-size: xxx-large;
    height: 100%
}

.ui>.page>.games {
    grid-gap: 5px;
    display: grid;
    grid-template-areas: "tetris tetris" "spaceinvaders pacman" "snake pong" "asteroids breakout" "minesweeper t048" "flappy .";
    grid-template-columns: 92.5px 92.5px;
    grid-template-rows: 190px 92.5px 92.5px 92.5px 92.5px
}

.ui>.page>.games>div>img {
    border-radius: 5px;
    height: 100%
}

.ui>.page>.settings {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 190px
}

.ui>.page>.settings>.card>.body::not(.clear) {
    padding-bottom: 0
}

.ui>.page>.settings>.card>.body>.button {
    color: red;
    font-size: large;
    padding: 5px
}

.ui>.page>.settings>.card>.body>.button.active,.ui>.page>.settings>.card>.body>.button:hover {
    background-color: red;
    color: #121212;
    color: var(--background)
}

.ui>.page>.game {
    height: 100%;
    width: 100%
}

.ui>.page>.game>.fps {
    color: lime;
    position: absolute
}

.ui>.page>.game>.end,.ui>.page>.game>.pause-menu,.ui>.page>.game>.start {
    left: calc(50% - 125px);
    position: absolute;
    top: 50px;
    width: 300px
}

.ui>.page>.game>.end.card>.body,.ui>.page>.game>.pause-menu.card>.body,.ui>.page>.game>.start.card>.body {
    background-color: #121212;
    background-color: var(--background)
}

.ui>.page>.game>.end.card>.body>.play,.ui>.page>.game>.end.card>.body>.restart,.ui>.page>.game>.pause-menu.card>.body>.play,.ui>.page>.game>.pause-menu.card>.body>.restart,.ui>.page>.game>.start.card>.body>.play,.ui>.page>.game>.start.card>.body>.restart {
    display: grid;
    font-size: large;
    grid-template-columns: 1fr auto 1fr
}

.ui>.page>.game>.end.card>.body>.play>.button,.ui>.page>.game>.end.card>.body>.restart>.button,.ui>.page>.game>.pause-menu.card>.body>.play>.button,.ui>.page>.game>.pause-menu.card>.body>.restart>.button,.ui>.page>.game>.start.card>.body>.play>.button,.ui>.page>.game>.start.card>.body>.restart>.button {
    padding: 5px
}

.ui>.page>.game>.end.card>.body>.scores>.item,.ui>.page>.game>.pause-menu.card>.body>.scores>.item,.ui>.page>.game>.start.card>.body>.scores>.item {
    display: grid;
    grid-template-columns: auto 1fr auto
}

.ui>.page>.game>.end.card>.body>.buttons,.ui>.page>.game>.pause-menu.card>.body>.buttons,.ui>.page>.game>.start.card>.body>.buttons {
    display: grid;
    font-size: large;
    grid-template-columns: 1fr auto 1fr auto 1fr
}

.ui>.page>.game>.end.card>.body>.buttons>.button,.ui>.page>.game>.pause-menu.card>.body>.buttons>.button,.ui>.page>.game>.start.card>.body>.buttons>.button {
    padding: 5px
}

.ui>.page>.game>.scoreboard {
    left: 55px;
    opacity: .5;
    position: absolute;
    top: 5px;
    width: 100px
}

.ui>.page>.game>.scoreboard.card>.body {
    background-color: #121212;
    background-color: var(--background)
}

.ui>.page>.game>.scoreboard.card>.body>.item {
    display: grid;
    grid-template-columns: auto 1fr auto
}

.ui>.page>.game>.pause {
    font-size: 200%;
    height: 40px;
    line-height: 40px;
    opacity: .5;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px
}

.ui>.page>.game>.pause:hover {
    opacity: 1
}

.ui>.page>.profile {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 190px
}

.ui>.page>.profile>.card>.body .username {
    display: grid;
    grid-template-columns: 24px 1fr
}

.ui>.page>.profile>.card>.body .username>p {
    margin-bottom: auto;
    margin-left: 4px;
    margin-top: auto
}

.ui>.page>.profile>.card>.body .username>input[type=text] {
    background-color: #222;
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    color: #fff;
    color: var(--text);
    height: 24px;
    margin-left: 4px;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    width: 142px
}

.ui>.page>.profile>.card>.body>.stat {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 2.5px 0
}

.ui>.page>.profile>.card>.body>.stat>p>img {
    height: 16px;
    margin: -20px 0 0;
    padding: 0;
    position: relative;
    top: 4px
}

.ui>.page>.profile>.card>.body>.setting>select {
    width: 178px
}

.ui>.page>.profile>.card>.body>progress {
    -webkit-appearance: none;
    border-radius: 4px;
    height: 8px;
    outline: none;
    width: 100%
}

.ui>.page>.profile>.card>.body>progress::-webkit-progress-bar,.ui>.page>.profile>.card>.body>progress::-webkit-progress-value {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    height: 8px
}

.ui>.page>.profile>.card>.body>progress::-webkit-progress-bar {
    background-color: #222;
    background-color: var(--accent)
}

.ui>.page>.profile>.card>.body>progress::-webkit-progress-value {
    background: #bb86fc;
    background: var(--primary)
}

.card {
    border: 1px solid #222;
    border: 1px solid var(--accent);
    border-radius: 5px
}

.card>.header {
    background-color: #222;
    background-color: var(--accent);
    border-radius: 4px 4px 0 0;
    display: grid;
    font-size: large;
    grid-template-columns: auto 1fr auto;
    padding: 5px
}

.card>.header>.button {
    line-height: 21.5px;
    max-height: 21.5px
}

.card>.body {
    border-radius: 3px;
    padding: 5px
}

.button {
    border-radius: 5px;
    color: #bb86fc;
    color: var(--primary);
    text-align: center;
    transition: color .5s,background-color .5s
}

.button.active,.button:hover {
    background-color: #bb86fc;
    background-color: var(--primary);
    color: #121212;
    color: var(--background);
    cursor: pointer
}

.notifications {
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 1
}

.notifications>.notification {
    background-color: #121212;
    background-color: var(--background);
    border-radius: 5px;
    margin-bottom: 5px;
    width: 240px
}

.setting {
    display: grid;
    margin-bottom: 5px
}

.setting.checkbox {
    grid-template-columns: auto 1fr 13px
}

.setting.dropdown {
    grid-template-columns: auto 1fr auto
}

.setting.keybind {
    grid-template-columns: auto 1fr 60px
}

.setting>input[type=checkbox] {
    -webkit-appearance: none;
    background-color: #222;
    background-color: var(--accent);
    border-radius: 4px;
    cursor: pointer;
    height: 13px;
    outline: none
}

.setting>input[type=checkbox]:checked {
    background-color: #bb86fc;
    background-color: var(--primary)
}

.setting>input[type=checkbox]:disabled {
    cursor: not-allowed
}

.setting>input[type=range] {
    -webkit-appearance: none;
    background-color: #222;
    background-color: var(--accent);
    border-radius: 4px;
    height: 8px;
    margin-top: 4px;
    outline: none
}

.setting>input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: #bb86fc;
    background: var(--primary);
    border-radius: 8px;
    cursor: pointer;
    height: 16px;
    width: 16px
}

.setting>select {
    background-color: #222;
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    color: #fff;
    color: var(--text);
    font-family: Roboto,sans-serif;
    outline: none
}

.setting>details>p {
    padding-left: 11px
}

kbd {
    border: 1px solid #fff;
    border: 1px solid var(--text);
    border-radius: 2px;
    padding: 2px
}

.shadow {
    background-color: #000;
    height: 100%;
    left: 50px;
    opacity: .5;
    position: absolute;
    top: 0;
    width: calc(100% - 50px)
}

.tooltip {
    display: inline-block;
    position: relative
}

.tooltip>.tooltiptext {
    background-color: #bb86fc;
    background-color: var(--primary);
    border-radius: 5px;
    color: #fff;
    color: var(--text);
    font-size: small;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 1
}

.tooltip>.tooltiptext.right {
    left: calc(100% + 5px)
}

.tooltip>.tooltiptext.right:after {
    border-color: transparent #bb86fc transparent transparent;
    border-color: transparent var(--primary) transparent transparent;
    right: 100%
}

.tooltip>.tooltiptext.left {
    right: calc(100% + 5px)
}

.tooltip>.tooltiptext.left:after {
    border-color: transparent transparent transparent #bb86fc;
    border-color: transparent transparent transparent var(--primary);
    left: 100%
}

.tooltip>.tooltiptext.left,.tooltip>.tooltiptext.right {
    top: -5px
}

.tooltip>.tooltiptext.left:after,.tooltip>.tooltiptext.right:after {
    margin-top: -5px;
    top: 50%
}

.tooltip>.tooltiptext.up {
    bottom: calc(100% + 5px)
}

.tooltip>.tooltiptext.up:after {
    border-color: #bb86fc transparent transparent;
    border-color: var(--primary) transparent transparent transparent;
    top: 100%
}

.tooltip>.tooltiptext.down {
    top: calc(100% + 5px)
}

.tooltip>.tooltiptext.down:after {
    border-color: transparent transparent #bb86fc;
    border-color: transparent transparent var(--primary) transparent;
    bottom: 100%
}

.tooltip>.tooltiptext.down,.tooltip>.tooltiptext.up {
    left: 50%;
    margin-left: -50px
}

.tooltip>.tooltiptext.down:after,.tooltip>.tooltiptext.up:after {
    left: 50%;
    margin-left: -5px
}

.tooltip>.tooltiptext:after {
    border-style: solid;
    border-width: 5px;
    content: " ";
    position: absolute
}
